:root {
  --accentYellow: #e3d865;
  --bgGrey: #eeeeee;
  --failureRed: #fc6471;
  --primaryBlack: #35356e;
  --overlayPurple: rgba(58, 57, 135, 0.25);
  --primaryPurple: #3c3a88;
  --successGreen: #00cc99;
}
