.answerChoices {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin: auto;
  max-width: 85%;
  justify-content: space-around;
}

@media (min-width: 800px) {
  .answerChoices {
    flex-direction: row;
    max-width: initial;
  }
}
