.button {
  color: #fff;
  background-color: var(--primaryPurple);
  border-radius: 8px;
  padding: 0.5em 1.25em;
  font-size: 1.1rem;
  min-width: 120px;
  width: 160px;
  border: 4px solid #e3d865;
  transition: all 100ms ease-in;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    color: var(--primaryPurple);
    cursor: pointer;
    background-color: var(--accentYellow);
    border: 4px solid var(--primaryPurple);
  }
}
