@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
.gameStart {
  text-align: center;
  &__heading {
    color: var(--primaryPurple);
    font-size: calc(var(--font-size-heading) / 1.5);
    text-align: center;
    line-height: 1;
    margin-top: 0;
    margin-bottom: var(--section-margin-top);
    font-family: "Changa One", cursive;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(60deg, var(--primaryPurple), blue);
    color: transparent;

    @media (min-width: 500px) {
      font-size: var(--font-size-heading);
    }
  }
  &__icon {
    margin-top: var(--section-margin-top);
  }
}
