.gameOver {
  display: grid;
  place-items: center;
  margin-top: 60px;
  position: relative;
  &__btn {
    background: #eeeeee;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 6px;
    padding: 0.5em 1.25em;
    font-size: 1.1rem;
    min-width: 120px;
    width: 160px;

    &:hover {
      color: purple;
      cursor: pointer;
    }
  }

  &__heading {
    font-size: calc(var(--font-size-heading) / 1.5);
    color: var(--primaryPurple);
    margin: 0;
  }
  &__icon {
    color: #000;
  }
  &__score {
    color: #2a9a7e;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    font-weight: 900;
  }
}

@media (min-width: 500px) {
  .gameOver {
    &__heading {
      font-size: var(--font-size-heading);
    }
  }
}
