.hint {
  padding: 16px 32px;
  max-width: 70%;
  margin: var(--section-margin) auto;
  color: var(--primaryBlack);
  background-color: #fff;
  border-radius: 8px;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  box-shadow: inset 0px 0px 5px 0px black;
  text-align: center;
  &__headingWrapper {
    font-size: 1.1rem;
    &__heading {
      font-weight: 700;
    }
    &__subheading {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
  &__description {
    margin-top: calc(var(--section-margin) / 4);
  }
}
