.range {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 20rem;
  margin: var(--section-margin) auto 0;
  &__ellipse {
    visibility: hidden;
  }
  &__image {
    width: 220px;
    border-radius: 12px;
    border: 2px solid var(--accentYellow);
  }
  &__text {
    color: var(--primaryBlack);
    font-size: calc(var(--font-size-range) / 1.25);
    font-weight: 900;
  }
}
@media (min-width: 500px) {
  .range {
    &__ellipse {
      width: 20rem;
      visibility: visible;
    }
    &__text {
      font-size: var(--font-size-range);
    }
  }
}

@media (min-width: 960px) {
  .range {
    max-width: 450px;
    &__ellipse {
      width: 28rem;
    }

    &__image {
      width: 300px;
    }
  }
}
