.rangeDisplay {
  text-align: center;
  position: relative;
  margin-top: calc(var(--section-margin-top));
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 960px) {
    max-width: 450px;
  }
  &__ellipse {
    visibility: hidden;
  }
  &__image {
    width: 220px !important;
    border-radius: 12px;
    border: 2px solid var(--accentYellow);
  }
  &__text {
    color: var(--primaryBlack);
    font-size: calc(var(--font-size-range) / 1.25);
    font-weight: 900;
    // position: absolute;
    // top: 80%;
    // left: 52%;
    // transform: translateX(-50%);
  }
}
@media (min-width: 500px) {
  .rangeDisplay {
    &__ellipse {
      width: 20rem;
      visibility: visible;
    }
    &__image {
      width: 220px !important;
      // top: 42%;
    }
    &__text {
      font-size: var(--font-size-range);
      // top: 75%;
    }
  }
}

@media (min-width: 960px) {
  .rangeDisplay {
    &__ellipse {
      width: 28rem;
    }

    &__image {
      width: 300px !important;
    }
  }
}
