.rangeDisplay {
  text-align: center;
  margin-bottom: 16px;

  &__rangeDisplayImage {
    box-shadow: 10px 10px 4px 0px #b4a0a040;
    min-width: 50%;
    max-width: 200px;
    border-radius: 12px;
  }
}

@media (min-width: 800px) {
  .rangeDisplay {
    &__rangeDisplayImage {
      min-width: 40%;
    }
  }
}
