.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__divider {
    margin-top: var(--section-margin-top);
    border: 0.1px solid rgba(0, 0, 0, 0.2);
  }
  &__flexContainer {
    // flex-grow: 1;
  }
  &__heading {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 0;
    color: var(--primaryPurple);
  }
  &__hintsWrapper {
    margin-top: var(--section-margin-top);
    background-image: url("/images/larisa-birta-slbOcNlWNHA-unsplash_reduced.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 200px;
    flex-grow: 1;

    @media (min-width: 650px) {
      background-position: 0 -100px;
    }
  }
  &__hintsWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--overlayPurple);
    z-index: 0;
  }
  &__instructionsBtn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 160px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    &__hover {
      background-color: #3e8e41;
    }
  }
  &__scoreAndRound {
    background-color: var(--primaryPurple);
    padding: 12px 32px;
    height: 28px;
    &__textWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 960px) {
        max-width: 660px;
      }
    }
  }
  &__startEndGameWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
