.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  &__divider {
    margin-top: var(--section-margin);
    border: 0.1px solid rgba(0, 0, 0, 0.2);
  }
  &__heading {
    margin-top: 32px;
    margin-bottom: 0;
    color: var(--primaryPurple);
  }
  &__hintsWrapper {
    margin-top: var(--section-margin);
    background-image: url("/images/larisa-birta-slbOcNlWNHA-unsplash_reduced.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 20vh;
    flex-grow: 1;
  }
  &__hintsWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--overlayPurple);
    z-index: 0;
  }
  &__instructionsBook {
    width: 42px;
  }
  &__instructionsBtn {
    color: var(--primaryPurple);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: #f5f2d0;
    border: 1px solid #000;
  }
  &__instructionsWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    &__icons {
      display: flex;
      min-width: 150px;
      justify-content: space-between;
      gap: 10px;
      margin-top: 40px;
    }
  }
  &__scoreAndRound {
    background-color: var(--primaryPurple);
    padding: 12px 32px;
    &__textWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__studyBtn {
    background-color: #f5f2d0;
    &:hover {
      cursor: pointer;
    }
    &__image {
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: 650px) {
  .app {
    &__hintsWrapper {
      background-position: 0 -100px;
    }
  }
}

@media (min-width: 960px) {
  .app {
    &__instructionsWrapper {
      width: 36%;
      max-width: 525px;
    }
    &__scoreAndRound {
      &__textWrapper {
        max-width: 660px;
      }
    }
  }
}
