.app {
  &__flexContainer {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 0;
  }
  &__hintsWrapper {
    max-width: 90%;
    margin: auto;
  }
  &__scoreAndRound {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    margin: 0 auto 24px;
    min-width: 90%;
  }
}
