@import "./colors.scss";
@import "./fonts.scss";
:root {
  // line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --section-margin-top: 6.4%;
}

body {
  margin: 0;
  background-color: var(--bgGrey);
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
}
